*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lexend Exa", serif;
}

:root {
    --primary-dark: rgb(18, 18, 24);
    --bubble-dark: rgba(22,22,31,255);
    ---primary-dark-divs: rgba(22,22,31,255);
    --primary-text: white;
}


body {
    height: 100vh;
    background: var(--primary-dark);
    color: var(--primary-text);
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.left-inquiry {
    width: 600px;
    height: 600px;
    background: var(--bubble-dark);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.right-inquiry {
    width: 600px;
    background: var(--bubble-dark);
    padding: 20px;
    height: 600px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchInput {
    background: var(--bubble-dark);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.form {
    width: 100%;
    display: flex;
    gap: 10px;
}

#searchBtn {
    background: var(--bubble-dark);
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: 250ms;
}

#searchBtn:hover {
    transform: scale(1.05);
}

.input-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.displayWeather {
    background: rgba(38,155,180,255);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex: 1;
}

.top-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-wrap h1 {
    font-size: 1.5rem;
}

.top-wrap-time {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#dateDisplay {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.75)
}

.bottom-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#currentTemp {
    font-size: 4.5rem;
    font-weight: 600;
}

.extra-details {
    display: flex;
    width: 100%;
    gap: 5px;
}

.extra-details p {
    font-size: 1rem;
}