*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lexend Exa", serif;
}

:root {
    --primary-dark: rgb(18, 18, 24);
    --bubble-dark: rgba(22,22,31,255);
    ---primary-dark-divs: rgba(22,22,31,255);
    --primary-text: white;
}


body {
    height: 100vh;
    background: var(--primary-dark);
    color: var(--primary-text);
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.left-inquiry {
    width: 700px;
    height: 700px;
    background: var(--bubble-dark);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.right-inquiry {
    display: flex;
    width: 700px;
    height: 700px;
    gap: 10px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchInput {
    background: rgba(30,30,41,255);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 15px 10px;
    width: 100%;
}

#searchInput:focus {
    background: rgba(30,30,41,255); 
}

.logoimg {
    width: 70px;
    height: 60px;
    background: rgba(30,30,41,255);
    padding: 20px;
    border-radius: 5px;
}

.form {
    width: 100%;
    display: flex;
    gap: 10px;
}

#searchBtn {
    background: var(--bubble-dark);
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: 250ms;
}

#searchBtn:hover {
    transform: scale(1.05);
}

.input-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.displayWeather {
    background: linear-gradient(7deg, rgba(2,2,31,1) 0%, rgba(25,78,161,1) 100%);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex: 1;
}

.top-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-wrap h1 {
    font-size: 1.5rem;
}

.top-wrap-time {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#dateDisplay {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.75)
}

.bottom-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#currentTemp {
    font-size: 4.5rem;
    font-weight: 600;
}

.extra-details {
    display: flex;
    width: 100%;
    gap: 5px;
}

.extra-details p {
    font-size: 1rem;
}

.top-weather-details {
    background: var(--bubble-dark);
    height: 60%;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.weather-forecast-wrap {
    background: var(--bubble-dark);
    height: 40%;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.weather-h3 {
    color: rgba(255, 255, 255, 0.75)   
}

.weather-detail-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.single-detail-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px;
}

.detail-span {
    display: flex;
    gap: 5px;
    align-items: center;
}

.forecast-container {
    display: flex;
    width: 100%;
}

.day-card {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 1px 26px -1px rgba(0,0,0,0.2);

}

.svg-img-card {
    width: 100px;
}

.day-description {
    font-size: .75rem;
}

.day-temps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
}

.day-temps :first-child {
    font-size: .85rem;
}

.day-temps :nth-child(2) {
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.45);
}

.day-description {
    font-size: 0.8rem;
    text-align: center;
}